



<p>{{ partial “header.html” . }}</p>
<p><main class="content" role="main"></p>
<p>{{ if and .IsHome .Content }}</p>
<article class="article">
<pre><code>&lt;div class=&quot;article-content&quot;&gt;
  {{ .Content }}
&lt;/div&gt;</code></pre>
</article>
{{ else }}
<div class="archive">
<pre><code>{{ range (where .Site.Pages &quot;Type&quot; &quot;post&quot;).GroupByDate &quot;2006&quot; }}
&lt;h2 class=&quot;archive-title&quot;&gt;{{ .Key }}&lt;/h2&gt;
{{ range .Pages }}
&lt;article class=&quot;archive-item&quot;&gt;
  &lt;a href=&quot;{{ .Permalink }}&quot; class=&quot;archive-item-link&quot;&gt;{{ .Title }}&lt;/a&gt;
  &lt;span class=&quot;archive-item-date&quot;&gt;
    {{ .Date.Format &quot;2006/01/02&quot; }}
  &lt;/span&gt;
&lt;/article&gt;
{{ end }}
{{ end }}</code></pre>
</div>
<p>{{ end }}</p>
<p></main></p>
<p>{{ partial “footer.html” . }}</p>
